# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build folders
/bin/
 /obj/
**/bin/
**/obj/

# Rider
.idea/

# VS Code
.vscode/

# User-specific files
*.swp
*.tmp

# NuGet
*.nupkg
packages/
*.snupkg
project.lock.json

# ASP.NET Core
appsettings.*.json
wwwroot/uploads/

# Logs
*.log
logs/
